@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your global CSS */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: auto;
}
.main-content {
  overflow-y: auto;
  min-height: 100%;
}
